---
galaxy_info:
  role_name: policy
  namespace: thomasvincent
  author: Thomas Vincent
  description: Firewall policy abstraction layer with backend auto-detection
  license: MIT
  min_ansible_version: "2.12"

  platforms:
    - name: Ubuntu
      versions:
        - focal
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
    - name: EL
      versions:
        - "8"
        - "9"

  galaxy_tags:
    - firewall
    - policy
    - security
    - networking

dependencies: []
