---
- name: Install firewalld
  ansible.builtin.package:
    name: firewalld
    state: present

- name: Ensure firewalld is started and enabled
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true
  when: firewall_enabled

- name: Configure firewalld zones
  ansible.posix.firewalld:
    zone: "{{ item.name }}"
    state: "{{ item.state | default('enabled') }}"
    permanent: true
    immediate: true
  loop: "{{ firewall_zones }}"
  notify: reload firewalld

- name: Configure firewalld services
  ansible.posix.firewalld:
    zone: "{{ item.0.name }}"
    service: "{{ item.1 }}"
    permanent: true
    immediate: true
    state: enabled
  loop: "{{ firewall_zones | subelements('services', skip_missing=True) }}"
  notify: reload firewalld

- name: Configure firewalld ports
  ansible.posix.firewalld:
    zone: "{{ item.0.name }}"
    port: "{{ item.1.port }}/{{ item.1.protocol | default('tcp') }}"
    permanent: true
    immediate: true
    state: enabled
  loop: "{{ firewall_zones | subelements('ports', skip_missing=True) }}"
  notify: reload firewalld

- name: Configure custom firewall rules
  ansible.posix.firewalld:
    zone: "{{ item.zone | default('public') }}"
    port: "{{ item.port }}/{{ item.protocol | default('tcp') }}"
    permanent: true
    immediate: true
    state: "{{ item.state | default('enabled') }}"
  loop: "{{ firewall_rules }}"
  when: firewall_rules | length > 0
  notify: reload firewalld
